
<div class="row" style="text-align:center;">
    <div class="col-lg-12 col-md-12 col-sm-12">
  
    <div class="col-lg-6 col-md-6 col-sm-6 col-centered">
        <div  style="background-color:#eeeeee;">
            <p>{{data.name}}({{data.sys?.country}})</p>
            <p>Longitude : {{data.coord?.lon}}</p>
            <p>Latitude : {{data.coord?.lat}}</p>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-centered">
        <div  style="background-color:#eeeeee;">
            <p>Temparature : {{data.main?.temp}}</p>
            <p>Pressure : {{data.main?.pressure}}</p>
            <p>Humidity : {{data.main?.humidity}}</p>
            <p>Minimum Temparature : {{data.main?.temp_min}}</p>
            <p>Maximum Temparature : {{data.main?.temp_max}}</p>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-centered">
        <div  style="background-color:#eeeeee;">
            <p>Wind Speed : {{data.wind?.speed}}</p>
        </div>
    </div>


    <div class="col-lg-6 col-md-6 col-sm-6 col-centered">
        <div  style="background-color:#eeeeee;">
            <p>Clouds : {{data.clouds?.all}}</p>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-centered">
        <div  style="background-color:#eeeeee;">
            <p> SunRise: {{data.sys?.sunrise}}</p>
            <p> SunSet : {{data.sys?.sunset}}</p>
        </div>
    </div>
  
</div>
</div>
